@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
*{
  font-family: 'Oswald', sans-serif;
  text-decoration:none;
}
.user-card{
  background: #c21500; 
background: -webkit-linear-gradient(to right, #ffc500, #c21500);
background: linear-gradient(to right, #ffc500, #c21500);
}



